* {
  margin: 0;
  padding: 0;
}
.upper_header {
  /* border : 1px solid yellow; */
  height: 6vh;
  background-color: #010101;
  color: #fff;
}
.login_signup {
  /* border: 2px solid pink; */
  margin-right: 3%;
  display: flex;
  height: 5vh;
  align-items: center;
  list-style: none;
  justify-content: flex-end;
  cursor: pointer;
}
.compo {
  padding-right: 1.3%;
  display: flex;
  align-items: center;
  /* border-left: 1px solid #FFFF; */
}
.main_header {
  height: 4rem;
  background-color: #191919;
  color: white;
  display: grid;
  grid-template-columns: 3rem 2fr 5rem 1fr 2fr;
}
li {
  padding: 0;
  list-style: none;
}
.hmenu {
  display: none;
}
#nvbr {
  height: inherit;
  /* border: 2px solid yellow; */
  grid-column: 2/3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
}

.main {
  font-size: 2rem;
  display: flex;
  height: inherit;
  /* border: 2px solid red; */
  align-items: center;
  grid-column: 4/5;
}
.tagline {
  /* border: 2px solid red; */
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  margin: 9rem 20px 1rem 20px;
  color: #000000;
}
.options {
  display: flex;
  justify-content: space-around;
  /* border: 2px solid red; */
  margin: 5vh 0 3vh 0;
}
.a {
  background-color: #010101;
  height: 10vh;
  width: 20%;

  -webkit-box-shadow: 1px 2px 18px 1px rgba(0, 0, 0, 0.52);
  -moz-box-shadow: 1px 2px 18px 1px rgba(0, 0, 0, 0.52);
  box-shadow: 1px 2px 18px 1px rgba(0, 0, 0, 0.52);
}
.nav-link,
.main {
  cursor: pointer;
}
.mobilemenu {
  top: 6.5rem;
  width: 80%;
  height: 40%;
  background-color: white;
  left: 10%;
  border-radius: 30px;
  /* border: 2px solid red; */
  color: black;
  position: fixed;
  z-index: 1;
  -webkit-box-shadow: 0px 5px 22px 8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 5px 22px 8px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 5px 22px 8px rgba(0, 0, 0, 0.75);
  /* display: block; */
}
.mobilemenu ul {
  /* border: 2px solid yellow; */
  height: 100%;
  display: grid;
  align-items: center;
  grid-template-rows: repeat(4, 1fr);
}
.lk {
  transition-property: border-bottom;
  transition: 0.3s ease-in-out;
}
.lk:hover {
  border-bottom: 0.9px solid rgb(201, 198, 198);
  color: grey;
}

.active {
  border-bottom: 1px solid grey;
}
@media (max-width: 970px) {
  .main_header {
    grid-template-columns: 0 2fr 5rem 1fr 2fr;
    font-size: 0.9rem;
  }
}
@media (max-width: 830px) {
  #nvbr {
    display: none;
  }
  .tagline {
    font-size: 30px;
  }
  .main_header {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .main {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 1/2;
  }
  .hmenu {
    grid-column: 3/4;
    display: block;
    text-align: right;
    margin-right: 2rem;
    font-size: 2rem;
    z-index: 2;
    color: white;
  }
  .ab {
    color: white;
  }
}
@media (max-width: 740px) {
  .a {
    font-size: 10px;
    width: 23%;
  }
}
@media (max-width: 400px) {
  .tagline {
    margin: 16vh 4vh 3vh 4vh;
    /* border: 2px solid red; */
    font-size: 20px;
  }
  .options {
    /* border: 2px solid pink; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .a {
    font-size: large;
    margin: 5px 0;
    width: 80%;
  }
}
